<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <div class="container">
        <div class="top">
            <h2>网页头部</h2>
            <h2>{{uname}}</h2>
        </div>
        <div class="nav">
            <ul>
                <li>
                    <a href="#">导航1</a>
                </li>
                <li>
                    <a href="#">导航2</a>
                </li>
                <li>
                    <a href="#">导航3</a>
                </li>
            </ul>
        </div>
    </div>
</body>
</html>