<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <style>
        .container{
            width:90%;
            margin:0 auto;
        }

        .container .title{
            background-color:#f60;
        }
    </style>
</head>
<body>
    <div class="container">
        <div class="title">
            我的第一个模板
        </div>
        <div class="main">
            主要内容
        </div>
        <div>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Beatae consequatur delectus deleniti dignissimos dolorem eius facere, fugiat ipsa magnam, maxime minima molestiae nam, neque omnis quae sed sint tempora voluptas?
        </div>
    </div>
</body>
</html>