<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <form action="/update" method="post">
        <p>
            姓名 : <input type="text" name="username" value="{{params.user.username}}">
            <input type="hidden" name="id" value="{{params.user.id}}">
        </p>

        <p>
            年龄 : <input type="text" name="age" value="{{params.user.age}}">
        </p>

        <p>
            邮箱 : <input type="email" name="email" value="{{params.user.email}}">
        </p>
        <p>
            <input type="submit" value="修改">
        </p>
    </form>
</body>
</html>